<aside class="sidebar">
     <a href="/" class="logo">
          <img src="/images/logo.svg" alt="logo">
     </a>
     <hr class="dotted">
     <div class="links">
          <a href="/dashboard/products" class="btn btn-link">
               <img src="/icons/backpack.svg" alt="Account">
               Products
          </a>
          <a href="/dashboard/transactions" class="btn btn-link">
               <img src="/icons/file-report.svg" alt="Account">
               Transactions
          </a>
          <a href="/dashboard/profile" class="btn btn-link">
               <img src="/icons/account.svg" alt="Account">
               My Account
          </a>
     </div>
</aside>
