.btn {
     display: inline-flex;
     align-items: center;
     justify-content: center;
     color: var(--foreground);
     background: none;
     font-size: 16px;
     font-weight: 500;
     padding: 0.5em 1.5em 0.5em;
     transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     transition-duration: 200ms;
     border-radius: var(--radius);

     &:hover {
          cursor: pointer;
     }
}

.btn-sm {
     padding: 0.5em 1em 0.5em;
}

.btn-md {
     padding: 0.7em 1.5em 0.7em;
}

.btn-lg {
     padding: 0.8em 2em 0.8em;
}

.btn-primary {
     background-color: var(--primary-color);
     border: solid 1px var(--primary-color);

     &:hover {
          opacity: 0.9;
     }
}


.btn-secondary {
     border: solid 1px var(--secondary-color);

     &:hover {
          background-color: var(--secondary-color);
     }
}

.btn-ghost {
     &:hover {
          background-color: var(--background-alt);
     }
}

.btn-outline {
     border: solid 1px var(--foreground);

     &:hover {
          background-color: var(--background-alt);
          opacity: 0.8;
     }
}

.btn-link {
     &:hover {
          text-decoration: underline;
          text-decoration-color: var(--primary-color);
          color: var(--primary-color);
     }
}

.input {
     color: var(--foreground);
     font-weight: 500;
     background-color: transparent;
     padding: 0.7em 0.5em 0.7em;
     border-radius: var(--radius);
     border: solid 1px var(--foreground);

     &:focus {
          outline: none;
     }
}

.input::placeholder {
     color: var(--foreground);
     opacity: 0.7;
}

.input-warning {
     border: solid 1px var(--red);
}

.input-success {
     border: solid 1px var(--primary-color);
}

.logo-sm {
     width: 6em;
}

.logo-md {
     width: 8em;
}


.logo-lg {
     width: 10em;
}


/* Background color helpers */
.bg-background {
     background-color: var(--background);
}

.bg-background-alt {
     background-color: var(--background-alt);
}

.bg-foreground {
     background-color: var(--foreground);
}

.bg-primary {
     background-color: var(--primary-color);
}

.bg-secondary {
     background-color: var(--secondary-color);
}

.bg-hard-green {
     background-color: var(--hard-green);
}

.bg-red {
     background-color: var(--red);
}

.bg-yellow {
     background-color: var(--yellow);
}


.fg-background {
     color: var(--background);
}

.fg-background-alt {
     color: var(--background-alt);
}

.fg-foreground {
     color: var(--foreground);
}

.fg-primary {
     color: var(--primary-color);
}

.fg-secondary {
     color: var(--secondary-color);
}

.fg-hard-green {
     color: var(--hard-green);
}

.fg-red {
     color: var(--red);
}

.fg-yellow {
     color: var(--yellow);
}


.radius-default {
     border-radius: var(--radius);
}

.radius-none {
     border-radius: 0;
}

.radius-small {
     border-radius: calc(var(--radius) / 2);
}

.radius-large {
     border-radius: calc(var(--radius) * 2);
}

.title {
     font-size: 56px;
     font-weight: bold;
}

@media screen and(max-width: 1025px) {
     .title {
          font-size: 50px;
     }
}

.modal {
     position: fixed;
     top: 0;
     left: 0;
     z-index: 20;
     height: 100vh;
     width: 100vw;
     overflow-x: hidden;
     background-color: rgba(0, 0, 0, 0.5);
}
